extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Zhikun Zhou(Tony)
        p Front-end JavaScript Developer


        .about-bio

          p About me, I am a self-motivated coder and life-long learner.I have paired rigorous academics with my passion for coding and committed myself to building a career in the Software Development industry. I enjoy challenging myself in order to learn and grow.


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Accessibility
          li PHP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Vue 
          li React 
          li Python 
          li SQL
          li AJAX
          li Object Oriented Programing
          li Terminal/CLI
          li Peer Code Reviews
          li Django

        h6 Contact Info

        
        ul
          li 289-823-2231
          li tony1730280546@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/zhikun-zhou-924b2021a/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/TonyZhou920' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/TonyZho91722167' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back
