extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p The projects below, as well as this profolio webpage, are showing various different Front-end Tech skills.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
       .cell
         a(href=`/project/${project.id}`)
           img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.description}`)
           h5= project.project_name

